<form [formGroup]="profileForm" class="formdiv">

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName">
   
    <div class="warning" *ngIf="profileForm.get('firstName')?.hasError('required') && submitted">
      First Name is required.
    </div>
    <div class="warning" *ngIf="profileForm.get('firstName')?.hasError('maxlength')">
      Maximum length is 20 characters.
    </div>

   

  <label for="middleName">Middle Name:</label>
  <input type="text" id="middleName" formControlName="middleName">
  <div class="warning" *ngIf="profileForm.get('middleName')?.hasError('maxlength')">
    Maximum length is 20 characters.
  </div>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName">

  <div class="warning" *ngIf="profileForm.get('lastName')?.hasError('required') && submitted">
    Last Name is required.
  </div>
  <div class="warning" *ngIf="profileForm.get('lastName')?.hasError('maxlength')">
    Maximum length is 20 characters.
  </div>

  <label for="age">Age:</label>
  <input type="text" id="age" formControlName="age">
  
  <div class="warning" *ngIf="profileForm.get('age')?.hasError('required') && submitted">
    Age is required.
  </div>
  <div class="warning" *ngIf="profileForm.get('age')?.hasError('pattern')">
    Age must be a number.
  </div>
  <div class="warning" *ngIf="profileForm.get('age')?.hasError('max')">
    Maximum age is 50.
  </div>
  <div class="warning" *ngIf="profileForm.get('age')?.hasError('min')">
    Minimum age is 10.
  </div>
  


  <label>
    <input type="radio" value="Male" formControlName="gender">
      <span>Male</span>
  </label>
  <label>
    <input type="radio" value="Female" formControlName="gender">
      <span>Female</span>
  </label>

    <form formGroupName="address" class="innerformdiv">

      <label for="street">Street:</label>
      <input type="text" id="street" formControlName="street">

      <div class="warning" *ngIf="profileForm.get('address.street')?.hasError('required') && submitted">
        Street is required.
      </div>
      <div class="warning" *ngIf="profileForm.get('address.street')?.hasError('maxlength')">
        Maximum length is 20 characters.
      </div>

      <label for="landmark">Landmark:</label>
      <input type="text" id="landmark" formControlName="landmark">
      <div class="warning" *ngIf="profileForm.get('address.landmark')?.hasError('maxlength')">
        Maximum length is 20 characters.
      </div>


      <label for="city">City:</label>
      <input type="text" id="city" formControlName="city">

      <div class="warning" *ngIf="profileForm.get('address.city')?.hasError('required') && submitted">
        City is required.
      </div>
      <div class="warning" *ngIf="profileForm.get('address.city')?.hasError('maxlength')">
        Maximum length is 20 characters.
      </div>

      <label for="state">State:</label>
      <input type="text" id="state" formControlName="state">
      <div class="warning" *ngIf="profileForm.get('address.state')?.hasError('required') && submitted">
        State is required.
      </div>
      <div class="warning" *ngIf="profileForm.get('address.state')?.hasError('maxlength')">
        Maximum length is 20 characters.
      </div>

      <label for="zipCode">Zip Code:</label>
      <input type="text" id="zipCode" formControlName="zipCode">

      <div class="warning" *ngIf="profileForm.get('address.zipCode')?.hasError('required') && submitted">
        Zip Code is required.
      </div>
      <div class="warning" *ngIf="profileForm.get('address.zipCode')?.hasError('maxlength')">
        Maximum length is 20 characters.
      </div>
      <div class="warning" *ngIf="profileForm.get('address.zipCode')?.hasError('pattern')">
        Zip Code must be a number.
      </div>

      <label for="country">Country</label>
      <input type="text" id="country" formControlName="country">

      <div class="warning" *ngIf="profileForm.get('address.country')?.hasError('required') && submitted">
        Country is required.
      </div>
      <div class="warning" *ngIf="profileForm.get('address.country')?.hasError('maxlength')">
        Maximum length is 20 characters.
      </div>
    </form>

  <label for="hobbies">Hobbies:</label>
  <div>
    <div class="warning" *ngFor="let hobby of profileForm.get('hobbies')?.value; let i = index">
      <input type="text" placeholder="Hobby {{ i + 1 }}">
    </div>
    <button type="button" (click)="addHobby()">Add Hobby</button>

  </div>

</form>

<button (click)="submit()">Submit</button>


